@page
<!DOCTYPE html>
<html>
<head>
    <title>Site modules descriptions</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #myCarousel {
            width: 100%;
            height: 330px;
        }

        .carousel-inner img {
            max-width: 100%;
            width: 1000px;
            height: 300px;
            display: block;
            margin: auto;
        }

        .carousel-caption {
            background-color: rgba(0, 0, 0, 0.5); 
            color: white;
            font-size: larger; 
            text-shadow: 2px 2px 4px #000000; 
        }

        .carousel-item:not(:has(img)) {
            background-color: rgba(255, 231, 25, 0.5); 
            opacity: 0.5; 
        }

    </style>
</head>
<body>

    <div class="container">
        <h1>Explore FitnessPanel modules</h1>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">

            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
            </ol>


            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="@Url.Content("~/images/Products.png")" alt="first">
                    <div class="carousel-caption">
                        <h3>Products module</h3>
                        <p>Use product database and create your own products to get information!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="@Url.Content("~/images/Meals.png")" alt="second">
                    <div class="carousel-caption">
                        <h3>Meals module</h3>
                        <p>Manage your meals using products or recipes and count macros!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="@Url.Content("~/images/Bodymetrics.png")" alt="third">
                    <div class="carousel-caption">
                        <h3>Body metrics module</h3>
                        <p>Input your progress, generate reports and improve your health!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="@Url.Content("~/images/Recipies.png")" alt="fourth">
                    <div class="carousel-caption">
                        <h3>Recipies module</h3>
                        <p>To Create your own recipes based on available products!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="@Url.Content("~/images/Workouts.png")" alt="fifth">
                    <div class="carousel-caption">
                        <h3>Workouts module</h3>
                        <p>Manage your workouts, directly monitor your workout time in the app or enter it after your workout!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="@Url.Content("~/images/Healthstats.png")" alt="sixth">
                    <div class="carousel-caption">
                        <h3>Health&Stats module</h3>
                        <p>Summarize your week, see on the graphs how your intake and calorie burning looks like! Check your activities in the calendar!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="@Url.Content("~/images/Exercisemanager.png")" alt="seventh">
                    <div class="carousel-caption">
                        <h3>Exercise manager</h3>
                        <p>Select muscle parts and discover exercises with instructions!</p>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
